@media only screen and (max-width : 1028px) {


		.image, .portfolio-image {
			width: 100%;
			padding-bottom: 0;
			margin-top: 20px;
			margin-left: 0;

		}
		.portfolio-description {
			text-align: center;
			width: 100%;
			padding-bottom: 20px;
			margin-top: 0px;
			margin-left: 0;
			margin-top: -60px;
		
		}
		
		.image-description {
			text-align: center;
			padding-bottom: 20px;
			margin-top: -60px;
			width: 100%;
		}
}

@media only screen and (max-width : 955px) {
		.twelve, .eleven, .ten, .nine, .eight, .seven, .six, .five, .five-offset, .four, .three, .two, .one {
			width: 100%;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		
		.rationale {
			min-height: 100%;
			padding-bottom: 0;
			width: 95%;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 0;

		}
		.rationale-top, .rationale-middle {
			width: 50%;
			margin-top: 20px;

		}
		.rationale-top {
			margin-top: 20px;
		}
		.rationale h1 {
			padding-bottom: 25px;
			padding-top: 25px;
			margin-bottom: 20px;
			border-bottom: none;
		}
		.rationale ul {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
		}
		.buttons {
			padding-bottom: 50px;
		}
		.icon {
			padding-bottom: 0;
		}

		.image, .portfolio-image {
			width: 100%;
			padding-bottom: 0;
			margin-top: 20px;

		}
		.portfolio-description {
			text-align: center;
			width: 100%;
			padding-bottom: 20px;
			margin-top: 0px;
			margin-left: 0;
			margin-top: -60px;
		}
		
		.image-description {
			text-align: center;
			padding-bottom: 20px;
			margin-top: -60px;

		}
	
		footer .three {
		width: 33%;
		text-align: justify;

	}
		footer .mission {
			width: 66.66%;
			margin-top: 30px;
			text-align: left;
		}
	 footer h1 {
	 	font-size: 16px;
	 	border-bottom: none;
	 	margin-bottom: 0;
	 	
	}
	footer p, footer li {
		font-size: 14px;
	}
	footer .last {
		padding-bottom: 30px;
	}
	footer {
		height: 400px;
	}
@media only screen and (max-width : 768px) {
	nav {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	nav ul {
		text-align: center;
	}

	.branding {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.logo-container {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.circle, .name-container {
		float: none;
	}
	.name-container {
		text-align: center;
	}
	.circle {
		margin-left: auto;
		margin-right: auto;
	}
	

	header {
		height: 300px;
		padding-top: 20px;
	}

}

@media only screen and (max-width : 600px) {
	.banner h1 {
		font-size: 34px;
	}
	
	.rationale-top, .rationale-middle {
			width: 100%;
		}

	footer {
		height: 600px ;
	}
	footer .three {
		width: 100%;
		margin: 0;
	}
	footer h1, footer ul {
		text-align: center;
	}
	footer h1 {
		width: 30%;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 10px;
		margin-bottom:5px;
	}
	footer .last {

	}

@media only screen and (max-width : 410px) {

	.banner h1 {
		font-size: 30px;
	}
	
	.logo {
		font-size: 30px;
	}
	.title {
		font-size: 16px;
	}
	nav li a {
		font-size: 14px;
	}
	nav {
		margin-top: 10px;
	}
@media only screen and (max-width : 380px) {

	.banner h1 {
		font-size: 23px;
	}
}