@media only screen and (max-width : 1028px) {
		
		.image, .portfolio-image {
			width: 100%;
			padding-bottom: 0;
			margin-top: 20px;
			margin-left: 0;

		}
		.portfolio-description {
			text-align: center;
			width: 100%;
			padding-bottom: 20px;
			margin-top: 0px;
			margin-left: 0;
			margin-top: -60px;
		
		}
		
		.image-description {
			text-align: center;
			padding-bottom: 20px;
			margin-top: -60px;
			width: 100%;
		}
}

@media only screen and (max-width : 955px) {


		.twelve, .eleven, .ten, .nine, .eight, .seven, .six, .five, .five-offset, .four, .three, .two, .one {
			width: 100%;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		
		
		.image, .portfolio-image {
			width: 100%;
			padding-bottom: 0;
			margin-top: 20px;

		}
		.portfolio-description {
			text-align: center;
			width: 100%;
			padding-bottom: 20px;
			margin-top: 0px;
			margin-left: 0;
			margin-top: -60px;
		}
		
		.image-description {
			text-align: center;
			padding-bottom: 20px;
			margin-top: -60px;

		}
	
		footer .three {
		width: 33%;
		text-align: justify;

	}
		footer .mission {
			width: 66.66%;
			margin-top: 30px;
			text-align: left;
		}
	 footer h1 {
	 	font-size: 16px;
	 	border-bottom: none;
	 	margin-bottom: 0;
	 	
	}
	footer p, footer li {
		font-size: 14px;
	}
	footer .last {
		padding-bottom: 30px;
	}
	footer {
		height: 400px;
	}
}
@media only screen and (max-width : 768px) {
	.clever-box {
		width: 100%;
		margin: 0;
		padding-bottom: 40px;
	}
	.clever-wrap {
		margin-bottom: 0;
	}
	.button {
		position: relative;
	}
	nav {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	nav ul {
		text-align: center;
	}

	.branding {
		float: none;
		margin-left: 0;
		width:100%;
	}
	.logo-container {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.circle, .name-container {
		float: none;
	}
	.name-container {
		text-align: center;
	}
	.circle {
		margin-left: auto;
		margin-right: auto;
	}

	header {
		height: 300px;
		padding-top: 20px;
	}

}

@media only screen and (max-width : 600px) {
		.rationale-top, .rationale-middle, .rationale-bottom {
			display: table-row;
			vertical-align: top;
		}
		
	
	.banner h1 {
		font-size: 34px;
	}
	


	footer {
		height: 600px ;
	}
	footer .three {
		width: 100%;
		margin: 0;
	}
	footer h1, footer ul {
		text-align: center;
	}
	footer h1 {
		width: 30%;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 10px;
		margin-bottom:5px;
	}
	
}
@media only screen and (max-width : 410px) {

	.banner h1 {
		font-size: 30px;
	}
	
	.logo {
		font-size: 30px;
	}
	.title {
		font-size: 16px;
	}
	nav li a {
		font-size: 14px;
	}
	nav {
		margin-top: 10px;
	}
}
@media only screen and (max-width : 380px) {

	.banner h1 {
		font-size: 23px;
	}
}