/* Setting up our grid */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	max-width: 100%; /*Set the width of the entire website here */
	background-color: #EEEEEE;

	
}
.five:first-child, .four:first-child, .three:first-child, .two:first-child, .one:first-child, .six:first-child, .seven:first-child, .eight:first-child, .nine:first-child, .ten:first-child, .eleven:first-child, .twelve:first-child { 
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */

}

.twelve {
	width: 100%; /* This div spans six columns (the entire row)*/
	display: block; /*Display: block changes the orientation of elements to horizontal rather than vertical (it makes each column appear to the right of the previous column)*/;

}
.eleven {
	width: 89.6%;
	display: block;
	float:left;
	margin-left: 2%;

}
.ten {
	width: 79.8%;
	display: block;
	float:left;
	margin-left: 2%;

}
.nine {
	width: 73%;
	display: block;
	float:left;
	margin-left: 2%;

}
.eight {
	width: 64.7%;
	display: block;
	float:left;
	margin-left: 2%;

}
.seven {
	width: 56.3%;
	display: block;
	float:left;
	margin-left: 2%;

}

.six {
	width: 48%; /* This div spans six columns (the entire row)*/
	display: block;
	float:left;
	margin-left: 2%;
}
.five {
	width: 39.6%; /* This div spans five columns */
	display: block;
	float:left;
	margin-left: 2%;
}
.four {
	width: 31.3%;
	display: block;
	float:left;
	margin-left: 2%;

}
.three {
	width: 21.5%;
	display: block;
	float:left;
	margin-left: 3%;

}
.two {
	width: 14.6%;
	display: block;
	float:left;
	margin-left: 2%;

	}
.one {
	width: 6.3%;
	display: block;
	float:left;
	margin-left: 2%;

}
.row {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: Roboto Slab;
	font-size: 24px;
}
h2 {
	font-family: oswald;
	font-size: 18px;
}
p, ul {
	font-family: lato;
	font-size: 16px;
	line-height: 17px;
}

header {
	width: 100%;
	height: 120px;
	background: #F9BF3B;
	top: 0;
	position: fixed;
	z-index: 100;
	opacity: 0.95;
}
.branding {
	float: left;
	margin-left: 8%;
}
.circle {
	float: left;
	width: 100px;
	height: 100px;
	background-image:url('images/dark_embroidery.png');
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-top: 10px;
}
.circle h1 {
	font-family: Bevan, 'serif';
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 36px;
	-webkit-mask-image: url("images/text-mask.png");
}
.logo-container {
	float:right;
	margin-right: 30px;

}
.logo {
	font-family: Roboto Slab;
	font-size: 36px;
	color: #6C7A89;
	margin-top: 30px;
	margin-left: 10px;

}
.logo a, .logo a:visited {
	text-decoration: none;
	color: #6C7A89;

}
.title {
	font-family: lato;
	font-size: 18px;
	color: #6C7A89;
	margin-left: 14px;

}
nav {
	float: right;
	margin-right: 15px;
}
nav ul li {
	list-style-type: none;
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 18px;
	line-height: 80px;
	border-right: 1px solid #6C7A89;
	color: #6C7A89;

}
nav ul {
	text-align: right;
	font-family: lato;
}
nav a, nav a:visited {
	text-decoration: none;
	color: #6C7A89;

}
.hero {
	background: url('images/hero.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 768px;
	display:table;
}
.work-hero {
	background: url('images/work.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 768px;
	display:table;

}

.tagline {
	margin-top:100px;
	width: 30%;
	min-height: 400px;
	margin-left: 60%;
	background-color: black;
	opacity: 0.5;

}
.tagline ul li {
	color: white;
	font-size: 18px;
	padding: 0 30px 30px 30px;
	font-family: lato;
	line-height: 22px;
	list-style-type: none;

}

.rationale {
	min-height: 300px;
	text-align: center;
	padding-top: 40px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.rationale h1 {
	font-family: Roboto Slab;
	font-size: 28px;
	margin-bottom: 30px;
}
.rationale p {
	font-family: lato;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 24px;
}
a.button {
	font-family: lato;
	text-decoration: none;
	color: black;
	border: 1px gray solid;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
}
.buttons {
	margin-top: 20px;
	text-align: center;
}
.buttons li {
	display: inline;
	margin-left: -50px;
}

a.reverse-button {
	text-decoration: none;
	color: white;
	border: 1px white solid;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
}

footer {
	min-height: 300px;
	background-color: #101010;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding: 50px 3% 0 7%;
}

footer h1 {
	color: #f9f9f9;
	font-family: lato;
	font-size: 20px;
	padding-bottom: 60px;
}
footer ul {
	list-style-type: none;
}
footer li {
	font-size: 16px;
	color: #7d7d7d;
	font-family: lato;
	line-height: 18px;

}
footer a, footer a:visited {
	color: #7d7d7d;
	text-decoration: none;
}

.hire-content {
	min-height: 400px;
	margin-top: 80px;
}
.work-content-top {
	min-height: 500px;
	margin-top: 40px;
	padding: 0px 7.5% 100px 7.5%;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: #EEEEEE;
}

.work-content {
	height: 500px;
	padding: 40px 7.5% 100px 7.5%;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: #EEEEEE;
}
.work-content h2, .work-content-top h2 {
		padding-top: 20px;
		padding-bottom: 5px;

}

.work-content-top img, .work-content img {
	width: 100%;
	height: auto;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
img.mobile  {	
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

img.landscape  {	
	width: 100%;
	height: auto;
	-webkit-box-shadow: 3px 3px 5px 6px #B5B3B3;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #B5B3B3;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #B5B3B3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
.portfolio {
	background-color: #D2D7D3;
}
.portfolio-image {
	width: 56.3%;
	display: block;
	float:right;
	margin-left: 2%;

}
.portfolio-description {
	width: 39.6%; /* This div spans five columns */
	display: block;
	float:left;
	margin-left: 2%;

}
.banner {
	height:300px;
	background-image: url('images/dark_embroidery.png');
	background-repeat: repeat-x repeat-y;
	z-index: -1;
}
.banner h1 {
	padding-top: 180px;
	font-family: 'Bevan', serif;
	font-size: 60px;
	text-align: center;
	-webkit-mask-image: url("images/text-mask.png");
	text-transform: uppercase;
	color: white;
	}
.work-content a:visited, .work-content a {
	color: black;
	text-decoration: none;
}
/* RESPONSIVE DESIGN */


.typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

.type-wrap {
	color: white;
	font-size: 27px;
	font-family: Roboto Slab;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom: 40px;
	border-bottom: 1px dotted gray;

}


@media only screen and (max-width : 1430px) {
		.image {
			width: 65%;
		}
		.image-description {
			width: 30%;
		}
		

}
@media only screen and (max-width : 1230px) {
		.image {
			width: 65%;
		}
		.image-description {
			width: 28%;
		}

@media only screen and (max-width : 1000px) {
		.image {
			width: 65%;
		}

		.image-description {
			width: 28%;
		}
		

@media only screen and (max-width : 955px) {
		.image, .portfolio-image {
			width: 100%;

		}
		.image-description, .portfolio-description {
			text-align: center;
		}

		.image-description, .portfolio-description {
			width: 95%;
			padding-top: 20px;
		}
		.work-content-top, .work-content {
			height: 750px;
		}
		.landscape {
			float: left;
		}
		.image-description {
			float: right;
		}
@media only screen and (max-width : 900px) {
	.work-content-top, .work-content {
			height: 700px;
		}
	footer .three {
		width: 70%;
		text-align: center;
		margin:0;
		padding: 0 15% 0 15%;
	}
	 footer h1 {
		margin:20px 0 20px 0;
		padding:0;
	}
	footer {
		height: 550px;
	}

@media only screen and (max-width : 768px) {
	.work-content-top, .work-content {
			height: 650px;
		}
	
	}
@media only screen and (max-width : 600px) {
	.work-content-top, .work-content {
			height: 600px;
		}
	footer {
		height: 600px;
	}


}